.color1 {
    opacity: 1.0;
    color: turquoise;
    height: 1px;
    border: none;
    border-top: 10px solid turquoise;
}

.color2 {
    opacity: 1.0;
    color: rgb(250, 92, 118);
    height: 1px;
    border: none;
    border-top: 10px solid rgb(250, 92, 118);
}

.color3 {
    opacity: 1.0;
    color: orange;
    height: 1px;
    border: none;
    border-top: 10px solid orange;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  

  .fa:hover {
    opacity: .3;
  }
  
  .fa-github {
    background: #ffffff;
    color: rgb(0, 0, 0);
  }
  
  .fa-linkedin {
    background: #246596;
    color: white;
  }
